<div class="backend-edit-form">
  <section class="left">
    <%= render "form" %>
  </section>
  
  <section class="right">
    <p>
      From this screen you can insert content for your page.
      Please remember that Blogtastic only accepts Markdown.
    </p>
  </section>
</div>