<div class="default-frontend-content">
  
  <section class="left">
    <h2>Dashboard</h2>

    <p>
      Welcome to the Blogtastic Dashboard. Please Use the links above to navigate.
    </p>
  </section>
  
</div>
