<div class="default-frontend-content">
  
  <section class="left">
    <h2>Welcome</h2>

    <p>
      Welcome to Blogtastic. Blogtastic is a barebones Ruby on Rails Blogging system that is designed for
      those familiar with MultiMarkdown and who occasionally like to use tools that utilize the WordPress
      API. While WordPress has dominance in the Blogging market, and is ideal for LAMP setups, there are
      drawbacks for those of us who like to tweak our setup.
    </p>

    <p>
      The Blogtastic project is forkable on github, and you are free to download and modify to your hearts
      content. Implement a useful feature? Send me a pull request and let me know!
    </p>
  </section>
  
  <section class="right">
    <p>Core features:</p>
    
    <ul>
      <li>Accept MultiMarkdown documents as input for blogs/pages.</li>
      <li>Provide a facility for posting/administrating comments.</li>
      <li>Expose Wordpress API Endpoints.</li>
    </ul>
  </section>
  
</div>
