// Global Application Styles
//

// IMPORTS
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Signika+Negative);

// MIXINS
@mixin two-column {
  & section {
    display: table-cell;
  }
  
  & .left {
    width: 585px;
    padding-right: 5px;
  }
  
  & .right {
    width: 295px;
  }
}

@mixin has-regular-unordered-lists {
  ul {
    margin-top: 1em;
    list-style: disc;
    
    li {
      margin-top: 0.5em;
      margin-left: 1.2em;
    }
  }
}

// GLOBAL CSS STYLES
#container {
  font-family: Arial, sans-serif;
  width: 885px;
  margin-right: auto;
  margin-left: auto;
  
  h1 {
    font-family: "Signika Negative", Arial, sans-serif;
    font-size: 3em;
    line-height: 1.25em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  p {
    margin-top: 0.5em;
    line-height: 1.4em;
  }
  
  .default-frontend-content {
    @include two-column;
    
    & .right {
      @include has-regular-unordered-lists;
    }
  }
  
  .backend-edit-form {
    @include two-column;
  }
}

.navigation {
  background-color: #cc0000;
  
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  
  li {
    display: inline;
    
    margin-right: 0.75em;
    
    a {
      color: white;
    }
  }
}

// management tables
.management-table {
  width: 100%;
  margin-top: 2em;
  
  th, td {
    padding: 5px;
  }
  
  th {
    background-color: #CCC;
  }
  
  td {
    &:even {
      background-color: #CCC;
    }
  }
}
